@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.one_right a{
    padding: 10px;
    text-decoration: none;
}
