@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}

.one_right a{
    padding: 10px;
    text-decoration: none;
}

.two{
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.two_right{
    width: 50%;
    display: flex;
}

.two_right img{
    height: auto;
    width: 100%;
}

.two_left{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.two_left h1{
    margin: 0;
}

.two_left button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border:  #3882F6;
    padding: 5px 20px;   
}