@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.one{
    padding: 20px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2937;
}


.one_right a{
    padding: 10px;
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.two{
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
}
.two_right{
    width: 50%;
    display: flex;
}

.two_right img{
    height: auto;
    width: 100%;
}

.two_left{
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 18px;
}
.two_left h1{
    margin: 0;
    font-size: 48px;
}

.two_left button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border:  #3882F6;
    padding: 5px 20px;   
}

.three{
    display: flex;
    flex-direction: column;
    padding: 100px 200px;
    background-color: #F9FAF8;
    
}
.three h1{
    font-size: 36px;
    color: #1F2937;
    text-align: center;
}
.three_images {
    display: flex;
    justify-content: space-between;
    
}

.three_images .ima{
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;   
    font-size: 18px;
}

.three_images img{
    height: 200px;
    width: 200px;
    border-radius: 10px;
    border: 5px solid #3882F6;
}

.four{
    display: flex;
    flex-direction: column;
    align-items:center;
    padding: 100px 200px;
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    text-align: justify;
    font-weight:300;
    font-style: italic;
    
}

.four .author{
    font-weight: bold;
    align-self: flex-end;
}

.five{
    display: flex;
    margin: 100px 200px;
    padding: 20px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
    color: #F9FAF8;
}

.five h2{
    margin: 0;
}

.five button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 10px;
    border: solid #F9FAF8;
    padding: 5px 20px;   
}

.six{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 20px 200px;    
}